In [9]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import seaborn as sns
import numpy as np
import scipy.stats as stats

In [10]:
df = pd.read_csv("atuscps-clean.csv");

In [11]:
# drop the unnecessary columns.
df.drop("Unnamed: 0", axis=1, inplace=True)
df.drop("tulineno", axis=1, inplace=True)
df.drop("prempnot", axis=1, inplace=True)

In [12]:
# drop rows with duplicate ids.
df.sort_values("tucaseid", inplace = True)
df.drop_duplicates(subset ="tucaseid", inplace = True)
df

              tucaseid  hefaminc
0       20030100013007         1
2       20030100013013         3
3       20030100013014        13
7       20030100013017         4
8       20030100013030         8
15      20030100013050         7
16      20030100013109        14
24      20030100013125         8
27      20030100013158        11
28      20030100013166        14
30      20030100013167         7
32      20030100013169         9
33      20030100013189        14
41      20030100013208         8
42      20030100013229        14
46      20030100013232        13
48      20030100013280        13
51      20030100013284         9
55      20030100013291         3
56      20030100013300         9
60      20030100013304         9
61      20030100013327        13
65      20030100013330        13
67      20030100013337        14
70      20030100013347        14
74      20030100013352        14
80      20030100013394         9
81      20030100013396        12
86      20030100013414         4
88      20030100013420         9
...                ...       ...
852500  20151212151459         3
852501  20151212151497         8
852502  20151212151542        13
852504  20151212151559        14
852509  20151212151560        15
852510  20151212151571         6
852512  20151212151682        16
852514  20151212151686         8
852515  20151212151694        13
852518  20151212151707        16
852524  20151212151875         7
852525  20151212151885        11
852528  20151212151886        15
852530  20151212151905         2
852533  20151212151939        16
852535  20151212151940        16
852539  20151212151960         8
852542  20151212151989        13
852545  20151212152019        15
852546  20151212152025        15
852549  20151212152031         3
852552  20151212152152        12
852554  20151212152155         2
852555  20151212152219        13
852557  20151212152375        15
852558  20151212152399        12
852559  20151212152468        16
852561  20151212152469         8
852564  20151212152477        13
852566  20151212152498        11

[305047 rows x 2 columns]

In [13]:
# 1 - 11  = 0
# 12 - 14 = 1
# 15      = 2
# 16      = 3

# Replace all values between 1 - 11 to 0.
df.replace(to_replace=1, value=0, inplace=True)
df.replace(to_replace=2, value=0, inplace=True)
df.replace(to_replace=3, value=0, inplace=True)
df.replace(to_replace=4, value=0, inplace=True)
df.replace(to_replace=5, value=0, inplace=True)
df.replace(to_replace=6, value=0, inplace=True)
df.replace(to_replace=7, value=0, inplace=True)
df.replace(to_replace=8, value=0, inplace=True)
df.replace(to_replace=9, value=0, inplace=True)
df.replace(to_replace=10, value=0, inplace=True)
df.replace(to_replace=11, value=0, inplace=True)

# Replace all values from 12 - 14 to 1.
df.replace(to_replace=12, value=1, inplace=True)
df.replace(to_replace=13, value=1, inplace=True)
df.replace(to_replace=14, value=1, inplace=True)

# Replace all values from 15 to 2.
df.replace(to_replace=15, value=2, inplace=True)

# Replace all values from 16 to 3.
df.replace(to_replace=16, value=3, inplace=True)

In [14]:
df.to_csv("atuscps-cleaned-again.csv")